.description {
    background: #eff3fc;
   
}

.advantages {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advantages__title {
    text-align: center;
    font-size: 40px;
    font-family: 'Ubuntu-medium';
    color: cadetblue;
}

.row__list {
    display: flex;
    margin-bottom: 50px;
    margin-top: 50px;
}

.row__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row__item-text {
    width: 50%;
    text-align: center;
    font-family: 'Ubuntu-medium';
}

