@font-face {
    font-family: 'Ubuntu-medium';
    src: url('/fonts/Ubuntu-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }


  @font-face {
    font-family: 'Unisans-thin';
    src: url('/fonts/uni_sans_thin.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }


  @font-face {
    font-family: 'Ubuntu-bold';
    src: url('/fonts/Ubuntu-Bold.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Unisans-heavy';
    src: url('/fonts/uni_sans_heavy.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }


  @font-face {
    font-family: 'Ubuntu';
    src: url('/fonts/Ubuntu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

